@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery {
  width: 100%;
  height: 100%;
}

.image-gallery-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.image-gallery-slide-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.image-gallery-slide-wrapper .image-gallery-swipe .image-gallery-slides .image-gallery-slide .image-gallery-image {
  min-height: 65vh;
  max-height: 65vh;
  object-fit: scale-down;
}

.image-gallery-thumbnails-wrapper .image-gallery-thumbnails .image-gallery-thumbnail .image-gallery-thumbnail-inner .image-gallery-thumbnail-image {
  min-height: 15vh;
  max-height: 15vh;
  object-fit: scale-down;
}

/* 썸네일 활성화 스타일 */
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover {
  border-color: #C9A962;
}

/* 네비게이션 버튼 스타일 */
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 60px;
  width: 30px;
}

.image-gallery-left-nav:hover::before,
.image-gallery-right-nav:hover::before {
  color: #C9A962;
}

/* 풀스크린 버튼 스타일 */
.image-gallery-fullscreen-button:hover::before,
.image-gallery-play-button:hover::before {
  color: #C9A962;
}

/* 반응형 */
@media (max-width: 768px) {
  .image-gallery-slide-wrapper .image-gallery-swipe .image-gallery-slides .image-gallery-slide .image-gallery-image {
    min-height: 50vh;
    max-height: 50vh;
  }

  .image-gallery-thumbnails-wrapper .image-gallery-thumbnails .image-gallery-thumbnail .image-gallery-thumbnail-inner .image-gallery-thumbnail-image {
    min-height: 10vh;
    max-height: 10vh;
  }
}
