@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery {
  height: 100%;
}

.image-gallery-content {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  
}

.image-gallery-slide-wrapper {
  height: 60%;
  max-height: 60%;
  overflow-y: hidden;
}

.image-gallery-image {
}

.image-gallery-thumbnails-wrapper {
}